<div class="container-fluid" style="height: 100vh;">
    <div class="row" style="height:100%">
        <div class="col-1 bg-primary text-white p-3" style="height: 100%;">
            
        </div>
        <div class="col-3" style="height: 100%; border: 2px solid black">
            <!-- Content for the second column -->
        </div>
        <div class="col-8 p-0" style="height: 100%; border: 2px solid red;">
                <div class="col" style="height: 70%; border: 2px solid green">
                   <app-coding-playground></app-coding-playground>
                </div>
                <div class="col" style="height: 7%; border: 2px solid green">
                   <app-submit-code></app-submit-code>
                </div>
                <div class="col" style="height: 23%; border: 2px solid yellow">
                    <!-- Content for the second column -->
                </div>
        </div>
    </div>
</div>