<div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sidebar p-0">
        <div class="container">
            <H3>Welcome Student</H3>
        </div>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action sidebar-link active">
            <i class="fas fa-tachometer-alt"></i>
            <span>Attend Exam</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action sidebar-link">
            <i class="fas fa-users"></i>
            <span>View Results</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action sidebar-link">
            <i class="fas fa-box"></i>
            <span>Log Out</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action sidebar-link">
            <i class="fas fa-shopping-cart"></i>
            <span>Manage Profile</span>
          </a>
         
        </div>
      </div>
      <div class="col-md-10 content">
        <div class="p-3">
          <app-attend-exam></app-attend-exam>
        </div>
      </div>
    </div>
  </div>