<div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sidebar p-0">
        <div class="container">
            <H3>Welcome Admin</H3>
            <h6>Admin Id: {{this.admin.getAdminId()}}</h6>
        </div>
        <div class="list-group">
          <a  class="list-group-item list-group-item-action sidebar-link active">
            <i class="fas fa-tachometer-alt"></i>
            <span>Create Exam</span>
          </a>
          <a class="list-group-item list-group-item-action sidebar-link">
            <i class="fas fa-users"></i>
            <span>View Results</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action sidebar-link">
            <i class="fas fa-box"></i>
            <span>Log Out</span>
          </a> <a href="#" class="list-group-item list-group-item-action sidebar-link">
            <i class="fas fa-cog"></i>
            <span>Manage Profile</span>
          </a>
        </div>
      </div>
      <div class="col-md-10 content">
        <div class="p-3">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>