<div class="container">
  <!-- Question Form -->
  <div class="row">
    <div class="col-md-8">
      <h3>Total Questions: <span>{{ questionService.getTotalQuestions() }}</span></h3>
    </div>
    <div class="col-md-4 mt-5">
      <button id="saveQuestions" class="btn btn-success">Save</button>
      <button id="saveQuestions" class="btn btn-danger m-2">Go Back</button>
    </div>
    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="question">Question</label>
        <textarea class="form-control" id="question" rows="3" formControlName="question" required></textarea>
      </div>
      <div class="form-group">
        <label for="expectedOutput">Expected Output</label>
        <textarea class="form-control" id="expectedOutput" rows="3" formControlName="expectedOutput" required></textarea>
      </div>
      <div class="form-group">
        <label for="marks">Marks</label>
        <input type="number" class="form-control" id="marks" formControlName="marks" required>
      </div>
      <button type="submit" class="btn btn-primary mt-3" [disabled]="!questionForm.valid">Add Question</button>
    </form>
  </div>
  <hr>
    <!-- Display Added Questions -->
    <div class="row">
      <div class="col-md">
        <div class="card mb-3" *ngFor="let question of questionService.questions; let i = index">
          <div class="card-body">
            <h5 class="card-title">Question</h5>
            <p class="card-text"> Question Id :- {{question.question_id}}</p>
            <p class="card-text">{{ question.coding_question }}</p>
            <h6 class="card-subtitle mb-2 text-muted">Expected Output:</h6>
            <p class="card-text">{{ question.q_expected_output }}</p>
            <p class="card-text">Marks: {{ question.marks }}</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-danger btn-sm float-start" (click)="deleteQuestion(i)">Delete Question</button>
          </div>
        </div>
        <!-- Sample Question Card -->
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Question</h5>
            <p class="card-text">This is a sample question.</p>
            <h6 class="card-subtitle mb-2 text-muted">Expected Output:</h6>
            <p class="card-text">This is the expected output for the sample question.</p>
            <p class="card-text">Marks: 10</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-danger btn-sm float-start">Delete Question</button>
          </div>
        </div>
        <!-- End of Sample Question Card -->
  
        <!-- Repeat this structure for each added question -->
      </div>
    </div>
    
  </div>
  